# Секретные файлы
.env
.env.*
secrets/
config_secret.py
*.key
*.pem

# Виртуальное окружение
venv/
.env/
ENV/
venv.bak/

# Файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
